body{
    padding:0;
    text-align:center;
    font-size: 18px;
    font-family: 'Roboto', "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic,'Meiryo UI',Meiryo,"ＭＳ ゴシック",Arial, sans-serif;
    background-color: rgb(60, 116, 190);
}

header{
    background-color: rgb(10, 46, 100);
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.login{
    padding:10px 30px 10px 0px;
    background-color: rgb(10, 46, 100);
    border-bottom: 0px solid #ccc;
    text-align: right;
    color: #ffffff;
}

.wrapper0{
    width: 1000px;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    background-color: rgb(221, 143, 143);
    display: flex;
    text-align: center;
    /* background-color: #ffffff; */
}


.main-left{
    width: 460px;
    margin: 0px 0px 0px 0px;
    padding:20px;
    background-color:#ffc0cb;
    text-align: center;
    border-radius: 0px;
    font-size: 80%;
    color: #000000;
    overflow: auto;
}

.main-right{
    width: 460px;
    margin: 0px 0px 0px 0px;
    padding:20px;
    text-align: center;
    border-radius: 0px 70px 70px 0px;
    font-size: 80%;
    line-height: 150%;
    color: #ffffff;
    overflow: auto;
}



.main5{
    width: 1170px;
    margin: 0px 0px 0px 0px;
    padding:20px;
    background-color:rgb(177, 71, 133);
    text-align: center;
    border-radius: 70px 70px 70px 70px;
    font-size: 80%;
    color: #000000;
}

.box1{
    width: 450px;
    margin: 0px auto;
    padding-top: 0px;
    font-size: 80%;
    text-align: left;
}



.wrapper1{
    width: 300px;
    /* height: 150px; */
    margin: 0 auto;
    /* background-color: #ffffff; */
}

.wrapper2{
    width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
}



.box3{
    width: 50px;
    padding-top: 0px;
    font-size: 100%;
    /* text-align: center; */
    /* display: flex; */
    /* background-color:#da684b; */
}

.box4{
    width: 300px;
    margin: 0px auto;
    padding-top: 0px;
    font-size: 100%;
    text-align: center;
    display: block;
    /* display: flex; */
/* background-color: #fff; */
}

.box5{
    width: 400px;
    padding-top: 5px;
    font-size: 100%;
    margin: 0px auto;
    /* text-align: center; */
    /* display: flex; */
    /* background-color:#da684b; */
}

.display{
    height: 300px;
    width: 1000px;
    overflow: auto;
    margin: 0px auto;
    background-color:#ffffff;
    padding-bottom: 10px;
    text-align: center;
    line-height: 120%;
    border-radius: 10px 10px 10px 10px;
}

.display2{
    height: 265x;
    width: 350px;
    overflow: auto;
    margin: 0px 30px 0px 0px;
    background-color:rgb(177, 71, 133);
    text-align: left;
    line-height: 100%;
    border-radius: 0px;
}


.display5{
    height: 500px;
    width: 1000px;
    overflow: auto;
    margin: 0px auto;
    background-color:#ffffff;
    padding-bottom: 10px;
    text-align: center;
    line-height: 150%;
    border-radius: 10px 10px 10px 10px;
}


.bar{
    width:  300px;
    margin: 0px 20px 0px 20px;
    margin-bottom: 0px;
    background-color: #dfd9d9;
    color:#000000;
    text-align:center;
    padding: 15px 5px 15px 0px;
    font-size:10px;
    border-radius: 10px;
}

.barkekka{
    width:  300px;
    margin: 0px 20px 0px 20px;
    margin-bottom: 0px;
    background-color: #d8a14f;
    color:#000000;
    text-align:center;
    padding: 15px 5px 15px 0px;
    font-size:10px;
    border-radius: 10px;
}

.bar2{
    width:  200px;
    margin: 0px auto;
    margin-bottom: 0px;
    /* background-color: #da684b; */
    color:#ffffff;
    /* background-color: #fff; */
    text-align:right;
    padding: 2px 0px 0px 0px;
    font-size:12px;
}

.bar3{
    width:  40px;
    margin: 5px;
    margin-bottom: 0px;
    /* background-color: #da684b; */
    color:#ffffff;
    text-align:center;
    padding: 5px 0px 5px 0px;
    font-size:10px;

}


footer{
    width:  940px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #444444;
    color:#cccccc;
    text-align:center;
    padding: 10px 0px 10px 0px;
    font-size:13px;
}

p{
    font-size:100%;
    align-self: auto;;

}

.small{
    font-size:50%;
}

h1{
    font-size: 48px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    }

h2{
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

h3{
    font-size: 15px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    line-height: 150%;
}


h4{
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 150%;
}

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}

li:hover{
    background: #0066CC;
    color:#fff;
}

a:visited {
    color:rgb(136, 130, 130);;
    /* text-decoration:underline; */
}

a:link {
    color:rgb(136, 130, 130);
    /* text-decoration:underline; */
}

a:hover{
    color: rgb(138, 112, 39);
    text-decoration: none;
}

.news-list{
    display: flex;
}

.news-list-items{
    width: 300px;
    /* height: 300px; */
    margin-right:0px;
    text-align: center;
    color: #ffffff;
    font-size: 80%;
}

.news-list-items2{
    width: 300px;
    margin-right:20px;
    text-align: center;
    color: #000000;
    font-size: 80%;
}

.last-news{
    margin-right:0px;
}

.form-control1{
    margin: 0;
    padding: 8;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #39d178;
    box-shadow:0 2px 0 #0c8008;
    margin-left: 8px;
    /* margin: 0 auto; */
    padding: 5px 10px;
    font-size: 100%;
}

.form-control2{
    margin: 0;
    padding: 8;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #296ed7;
    box-shadow:0 2px 0 #0a3069;
    margin-left: 8px;
    padding: 5px 10px;
    font-size: 100%;
}

.form-control3{
    margin: 0;
    padding: 8;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #da684b;
    box-shadow:0 2px 0 #330f01;
    margin-left: 8px;
    padding: 5px 10px;
    font-size: 100%;
}

.main-visual{
    width: 940px;
    height: 300px;
    margin: 0px auto;
    text-align: center;
}

.page-title1{
    position: absolute;
    top:15%;
    right:20%;
    left:20%;
    transform:(-20%,-20%)
}

.area-news1{
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: #ffffff;
}



